<%- include('header'), {user} %>

<div class="container-fluid justify-content-center" style="background: url('../assets/img/headway-5QgIuuBxKwM-unsplash.jpg'); width:  100%; height: 800px; background-size: cover;">

        <div class='justify-content-center'style="padding-top:400px; margin: auto; color: aliceblue; width: auto;">
        
            <center><h1>Welcome To Jupitor Apeerals</h1></center>
        
        </div>



</div>